*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --fondo:rgb(26,34,32);
    --borde:rgb(136, 27, 226);
    --sombra:rgb(146, 27, 226);
    --fondo2:rgb(194, 129, 237);
    --colorf: rgb(26,34,32);
    --reloj:rgb(182, 64, 236);
   }
   body{
       display: flex;
       align-items: center;
       justify-content: center;
       min-height: 100vh;
       background-color: var(--fondo);
   }
   .reloj{
       width: 350px;
       height: 350px;
       display: flex;
       justify-content: center;
       align-items: center;
       background-image: url(/img/reloj.png);
       background-size: cover;
       border: 1rem solid var(--borde);
       border-radius: 50vh;
       box-shadow: inset 0px 0px 20px 5px var(--sombra);
   }
   .reloj::before{
       content: '';
       position: absolute;
       width: 20px;
       height: 20px;
       background-color: var(--fondo2);
       border-radius: 50vh;
       z-index: 10000;
   }
   .hora{
       width: 140px;
       height: 140px;
   }
   .minuto{
       width: 220px;
       height: 220px;
   }
   .segundo{
       width: 250px;
       height: 250px;
   }
   
   .hora::before{
       content: '';
       position: absolute;
       width: 8px;
       height: 90px;
       background-color: white;
       border-radius: 50vh;
       z-index: 10;
   }
   .minuto::before{
       content: '';
       position: absolute;
       width: 5px;
       height: 130px;
       background-color: var(--sombra);
       border-radius: 50vh;
       z-index: 11;
   }
   .segundo::before{
       content: '';
       position: absolute;
       width: 1.8px;
       height: 150px;
       background-color: rgb(47, 26, 233);
       border-radius: 50vh;
       z-index: 12;
   }
   .hora, .minuto, .segundo {
       display: flex;
       justify-content: center;
       position: absolute;
       border-radius: 50vh;
   }

.reloj2{
    border: 1rem solid var(--reloj) ;
    padding-left: 0.2rem;
    
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid var(--borde);
    border-radius: 1vh;
    box-shadow: inset 0px 0px 2px 5px var(--sombra);
    font-family: monospace;
    font-size: 0.9rem;
    color: var(--reloj);
    z-index: 20;
    align-self: flex-start;
    margin-top: 5rem;
    color: rgb(167, 182, 196);
}
